<!DOCTYPE html>
<%!
  import base64
%>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/jquery-1.11.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Cer</title>
    <style>
        body {
            transition: background-color .25s;
        }
        table.score_table,
        table.score_table>tbody,
        table.score_table>tbody>tr {
            width: 100%;
        }
        .fix_progress {
            margin-bottom: 0;
        }
        .fade {
            opacity: 0;
            transition: opacity 1s;
        }
        .hidden {
            display:none;
        }
        #textin {
            font-size: large;
        }
    </style>
    <script>
        nowStatus="";
        %if username:
            yourName=atob("${base64.b64encode(username.encode()).decode()}");
        %else:
            yourName="";
        %endif
        maxLive="${MAXLIVE}";
        document.addEventListener('DOMContentLoaded',function(){
            window.current=$("#current");
            window.counter=$("#counter");
            window.textin=$("#textin");
            window.error_div=$("#error_div");
            window.persons=$("[name=js-person]");
            waitForChange();
        });
        function msg(s) {
            error_div.text(s).removeClass("fade");
            setTimeout(function(){error_div.addClass("fade");},500);
        }
        function waitForChange() {
            var xhr=new XMLHttpRequest();
            xhr.open("post","/wait_status",true);
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded;");
            xhr.onreadystatechange=function() {
                if(this.readyState!=4)
                    return;
                if(this.status!=200) {
                    msg("在获取状态时发生错误 "+this.status);
                    setTimeout(waitForChange,1000);
                    return;
                }
                window.nowStatus=xhr.responseText;
                var response=JSON.parse(xhr.responseText);
                if(response["error"]) {
                    if(response["error"]==="[STOP]") {
                        msg("游戏结束");
                        setTimeout(function(){window.location.assign("/")},2000);
                        textin.setAttribute("disabled","disabled");
                        return;
                    }
                    msg(response["error"]);
                    setTimeout(waitForChange,1000);
                    return;
                }
                current.text(response["current"]);
                counter.text(response["count"]);
                for(var pos=0;pos<response["players"].length;pos++) {
                    if(response["players"][pos]["live"]!==null)
                        $("#live-"+btoa(response["players"][pos]["name"]).replace(/=/g,'_')).css("width",
                            response["players"][pos]["live"]*100/maxLive+"%");
                    else if($("#diebar-"+btoa(response["players"][pos]["name"]).replace(/=/g,'_')).hasClass("hidden")) {
                        $("#diebar-"+btoa(response["players"][pos]["name"]).replace(/=/g,'_')).removeClass("hidden");
                        $("#livebar-"+btoa(response["players"][pos]["name"]).replace(/=/g,'_')).addClass("hidden");
                        $("#die-"+btoa(response["players"][pos]["name"]).replace(/=/g,'_')).text("享年 "+response["count"]+" 回合");
                    }
                }
                persons.removeClass();
                $("#person-"+btoa(response["turn"]).replace(/=/g,'_')).addClass("info");
                if(response["turn"]==yourName) {
                    textin.removeAttr("disabled");
                    textin.focus();
                    $("body").css("background-color","#ffc");
                }
                else {
                    textin.attr("disabled","disabled");
                    $("body").css("background-color","#fff");
                }
                setTimeout(waitForChange,250);
            };
            xhr.send("now="+encodeURIComponent(nowStatus));
        }
        function check_enter(event) {
            if(event.keyCode==13)
                enter(textin.val());
            else
                return true;
        }
        function enter(text) {
            if(text==="" && !confirm("花费 3 点生命跳过此回合？"))
                return;
            msg("正在提交……");
            var xhr=new XMLHttpRequest();
            xhr.open("post","/enter",true);
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded;");
            xhr.onreadystatechange=function() {
                if(this.readyState!=4)
                    return;
                if(this.status!=200) {
                    msg("在提交文本时发生错误 "+this.status);
                    return;
                }
                var response=JSON.parse(xhr.responseText);
                if(response["error"]) {
                    msg(response["error"]);
                    return;
                }
                textin.val("");
                msg("提交成功");
            };
            xhr.send("word="+encodeURIComponent(text));
        }
    </script>
</head>
<body><div class="container">
    <br />
    <div class="well well-sm"><div class="row">
        <div class="col-xs-5" style="font-size: x-large;">
            <span id="counter" class="label label-default">0</span>&nbsp;
            <span id="current">Loading</span>
        </div>
        <div class="col-xs-7">
            <input class="form-control" id="textin" onkeypress="check_enter(event)" placeholder="">
        </div>
    </div></div>
    <div class="alert alert-danger fade" id="error_div">……</div>
    <table class="score_table table">
        <thead>
            <tr>
                <th style="width: 50%">昵称</th>
                <th style="width: 50%">生命 / ${MAXLIVE}</th>
            </tr>
        </thead>
        <tbody>
            % for person in players:
                <% b64name=base64.b64encode(person['name'].encode()).decode().replace('=','_') %>
                <tr name="js-person" id="person-${b64name}">
                    <td>
                        <b>${person['name']|h}</b>
                        ${' &nbsp; <span class="glyphicon glyphicon-user"></span>' if username==person['name'] else ''}
                    </td>
                    <td>
                        <div class="progress fix_progress ${'hidden' if person['live'] is None else ''}" id="livebar-${b64name}">
                            <div id="live-${b64name}" class="progress-bar" style="width: ${(person['live'] or 0)/MAXLIVE*100}%;">
                            </div>
                        </div>
                        <div class="progress fix_progress ${'' if person['live'] is None else 'hidden'}" id="diebar-${b64name}">
                            <div id="die-${b64name}" class="progress-bar progress-bar-danger progress-bar-striped" style="width: 100%">
                                R.I.P.
                            </div>
                        </div>
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    <br /><br /><br />
    <div class="well well-sm">
        <span>当前正在使用 <b>${desc|h}</b></span>
        <small class="pull-right">Cer by <a href="https://github.com/xmcp" target="_blank">@xmcp</a></small>
    </div>
</div></body>
</html>